<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h2>Registration Form</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username"><br>
    <input type="text" name="first_name" placeholder="Enter your firstname"><br>
    <input type="text" name="last_name" placeholder="Enter your lastname"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="cpassword" placeholder="Confirm your password"><br>
    <input type="submit">
</form>
{% for m in messages %}
{{m}}
{% endfor %}
</body>
</html>